@use "../../variables&mixins.scss" as *;

.quote {
  color: $white;
  @include flexH(15.67px);
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;

  &.hide {
    // display: none;
    left: 999%;
  }

  .text {
    @include flexH(13px);
    flex-direction: column;

    p {
      @include BodyText;
    }

    h2 {
      @include Heading5;
    }
  }

  button {
    background-color: transparent;
    height: fit-content;
    padding-top: 10.67px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

//tablet version
@media (width<1350px) {
  .quote {
    button {
      padding-top: 9.67px;
    }
  }
}

//mobile version
@media (width<800px) {
  .quote {
    .text {
      @include flexH(8px);

      p,
      h2 {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0px;
      }
    }
  }
}
