@use "../../variables&mixins.scss" as *;
.time-and-location {
  color: $white;
  @include flexH(16px);
  flex-direction: column;
}

.greeting {
  @include flexH(16px);
  align-items: center;

  p {
    @include Heading4;
  }
}

.hours {
  h1 {
    @include Heading1;
  }

  span {
    margin-left: 11px;
    font-size: 40px;
    font-weight: 300;
    line-height: 28px; /* 70% */
    text-transform: uppercase;
  }
}

.location {
  h3 {
    @include Heading3;
  }
}
