@use "../../variables&mixins.scss" as *;
.time-and-location {
  color: $white;
  @include flexH(16px);
  flex-direction: column;
  position: relative;

  .is-more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 146px;
    height: 56px;
    border-radius: 28px;
    background: $white;
    padding: 0 9px 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0;
    outline: 0;

    span {
      color: $black;
      font-family: $inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px; /* 175% */
      letter-spacing: 5px;
      text-transform: uppercase;
      opacity: 0.5;
    }

    svg circle {
      transition: 0.3s;
    }

    &:hover {
      svg circle {
        fill: #999999;
      }
    }
  }
}

.greeting {
  @include flexH(16px);
  align-items: center;

  p {
    @include Heading4;
  }
}

.hours {
  h1 {
    @include Heading1;
  }

  span {
    margin-left: 11px;
    font-size: 40px;
    font-weight: 300;
    line-height: 28px; /* 70% */
    text-transform: uppercase;
  }
}

.location {
  h3 {
    @include Heading3;
  }
}
